<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.pmsoft.ispork">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".category.CategoryListActivity"
      android:label="@string/category_list_activity_title"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".category.CategoryEditActivity"
      android:label=""
      android:theme="@style/AppTheme" />
    <activity
      android:name=".buffer.BufferEditActivity"
      android:label="@string/buffer_edit_activity_title"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".account.AccountListActivity"
      android:label="@string/account_list_activity_title"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".account.AccountEditActivity"
      android:label=""
      android:theme="@style/AppTheme" />
    <activity
      android:name=".payee.PayeeListActivity"
      android:label="@string/payee_list_activity_title"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".payee.PayeeEditActivity"
      android:label=""
      android:theme="@style/AppTheme" />
    <activity
      android:name=".transaction.TransactionListActivity"
      android:label="@string/transaction_list_activity_title"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".transaction.TransactionEditActivity"
      android:label=""
      android:theme="@style/AppTheme" />
    <activity
      android:name=".participant.ParticipantPickingActivity"
      android:label="@string/title_activity_participants_picking"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".category.CategoryPickingActivity"
      android:label="@string/title_activity_category_picking"
      android:theme="@style/AppTheme" />
    <activity
      android:name=".saving_goal.SavingGoalEditActivity"
      android:label=""
      android:theme="@style/AppTheme" />
  </application>

</manifest>
